include README.rst
include CHANGES.rst
include setup.cfg
include LICENSE.rst
include pyproject.toml
include astroscrappy/tests/coveragerc

recursive-include astroscrappy *.pyx *.c *.pxd *.h
recursive-include docs *
recursive-include licenses *
recursive-include scripts *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
