name: Run unit tests

on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  tests:
    name: ${{ matrix.name }} (${{ matrix.os }}, ${{ matrix.toxenv }})
    runs-on: ${{ matrix.os }}
    if: "!(contains(github.event.head_commit.message, '[skip ci]') || contains(github.event.head_commit.message, '[ci skip]'))"
    strategy:
      fail-fast: false
      matrix:
        include:

          - name: Python 3.11 with required dependencies (and gcc 11.2)
            os: ubuntu-22.04  # gcc 11.2
            python-version: "3.11"
            toxenv: py311-test-numpy126

          - name: Python 3.11 with required dependencies
            os: macos-latest
            python-version: "3.11"
            toxenv: py311-test-astropy60

          - name: Python 3.12 with required dependencies (and gcc 13.2)
            os: ubuntu-24.04  # gcc 13.2
            python-version: "3.12"
            toxenv: py312-test-astropy70
            coverage: true

          - name: Python 3.13 with required dependencies
            os: windows-latest
            python-version: "3.13"
            toxenv: py313-test

          - name: Python 3.14 with required dependencies
            os: macos-latest
            python-version: "3.14"
            toxenv: py314-test

          - name: Code style checks
            os: ubuntu-latest
            python-version: "3.13"
            toxenv: codestyle

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: python -m pip install tox
    - name: Run tests
      if: "! matrix.coverage"
      run: tox -v -e ${{ matrix.toxenv }}
    - name: Run tests with coverage
      if: "matrix.coverage"
      run: |
        pip install Cython extension-helpers numpy
        COVERAGE=1 pip install -e .[test]
        pytest --pyargs astroscrappy docs --cov astroscrappy
    - name: Upload coverage to codecov
      if: "matrix.coverage"
      run: |
        pip install codecov
        codecov

  publish:
    needs: tests
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@99401c364fa51c9c507d3cd6d272049278ac0b2c  # v2.4.0
    with:
      env: |
        EXTENSION_HELPERS_PY_LIMITED_API: 'cp311'
      test_extras: test
      test_command: pytest -p no:warnings --pyargs astroscrappy
      targets: |
        - cp*-manylinux_x86_64
        - target: cp*-manylinux_aarch64
          runs-on: ubuntu-24.04-arm
        - cp*-macosx_x86_64
        - cp*-macosx_arm64
        - cp*-win_amd64
    secrets:
      pypi_token: ${{ secrets.pypi_token }}
      anaconda_token: ${{ secrets.anaconda_token }}
